::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  top: 11px !important;
}

.form-container {
  border: 1px solid #70707050;

  .mat-form-field {
    margin-right: 1em;
  }

  .form-content-data {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;

    button {
      margin-right: 1rem;
    }
  }
}
